<header th:fragment="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top border-bottom border-secondary shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">TL - GARIK ASATRYAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'home'} ? 'active'" th:href="@{/}"
                           th:text="#{msg.header.home}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'regions'} ? 'active'" th:href="@{/regions}"
                           th:text="#{msg.header.regions}">Comunidades Autónomas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${activePage == 'provinces'} ? 'active'"
                           th:href="@{/provinces}" th:text="#{msg.header.provinces}">Provincias</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center ms-auto">
                    <i class="fas fa-globe text-secondary me-2"></i>

                    <a th:href="${@urlBuilder.buildUrl('lang', 'es')}"
                       class="nav-link px-1 transition-colors"
                       th:classappend="${#locale.language == 'es'} ? 'text-white fw-bold' : 'text-secondary'">
                        ES
                    </a>

                    <span class="text-secondary mx-1">|</span>

                    <a th:href="${@urlBuilder.buildUrl('lang', 'en')}"
                       class="nav-link px-1 transition-colors"
                       th:classappend="${#locale.language == 'en'} ? 'text-white fw-bold' : 'text-secondary'">
                        EN
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>