<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head ('Ticket Logger - Insertar/Actualizar Comunidad Autónoma')}">
    <title>Ticket Logger</title>
</head>
<body>
<header th:replace="~{fragments/header:: header}"></header>

<main class="container mt-5">
    <h1 th:text="${region.id == null ? 'Añadir Nueva Comunidad Autónoma' : 'Editar Comunidad Autónoma'}"></h1>

    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="@{${region.id == null ? '/regions/insert' : '/regions/update'}}"

          th:object="${region}" method="post" enctype="multipart/form-data" class="mt-4">

        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="code" class="form-label">Código:</label>
            <input type="text" th:field="*{code}" id="code" class="form-control"/>
            <div th:if="${#fields.hasErrors('code')}" class="text-danger" th:errors="*{code}"></div>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control"/>
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label">Imagen:</label>

            <div th:if="${region.image != null}">
                <img th:src="@{'/uploads/' + ${region.image}}"
                     alt="Imagen actual"
                     style="width: 150px; height: 100px; object-fit: cover; display:block; margin-bottom: 10px;"/>

                <form th:action="@{/regions/deleteImage}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${region.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" style="margin-bottom: 10px;">Borrar imagen
                    </button>
                </form>
            </div>

            <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/*"/>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${region.id == null ? 'Crear' : 'Actualizar'}"></button>
    </form>

    <a href="#" th:href="@{/regions}" class="btn btn-secondary">Volver a la lista</a>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>